{% extends "base.html" %}

{% block content %}

{% if movie.cover %}
    <p> <img src="{{movie.cover.url}}" width="300" height="auto"> </p>
{% else %}
    <p> <img src="https://dummyimage.com/200x300/000/fff&text=NO+IMAGE" width="300" height="auto"> </p>
{% endif %}


<p><b>Name:</b> {{movie.name}}</p>
<p><b>Year:</b> {{movie.year}}</p>
<p>{{movie.genre}}</p>
<p>{{movie.duration}}</p>
<p>{{movie.description}}</p>
<p>{{movie.director}}</p>
<p>
{% for s in  movie.stars.all %}
    {{ s }},
{% endfor %}
</p>

<p>{{movie.language}}</p>

<hr>

{% if perms.viewer.change_movie %}
    <p><a href="{% url 'update_movie' movie.id %}">Update Movie</a></p>
{% endif %}

{% if perms.viewer.delete_movie %}
    <p><a href="{% url 'delete_movie' movie.id %}">Delete Movie</a></p>
{% endif %}



{% endblock %}