{% extends "base.html" %}

{% block content %}

<a href="{% url 'create_movie' %}">Create Movie</a>

<hr>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <th>Name</th>
    <th>Year</th>
    <th>Genre</th>
    <th>Duration</th>
    <th>Language</th>
    <th>Director</th>
    <th>Stars</th>
  </tr>
  </thead>

    {%  for m in  movies %}
  <tr>
    <td><a href="{% url 'movie_detail' m.id %}"> {{ m.name }} </a></td>
    <td>{{ m.year }}</td>
    <td>{{ m.genre }}</td>
    <td>{{ m.duration }}</td>
    <td>{{ m.language|default_if_none:"-"}}</td>
    <td>{{ m.director.name}} ({{m.director.origin|default_if_none:"-"}})</td>
    <td>
      {% for s in  m.stars.all %}
          {{ s }},
      {% endfor %}
    </td>

  </tr>
    {% endfor %}

</table>

{% endblock %}