{% extends "base.html" %}

{% block content %}

{% if perms.viewer.add_movie %}
  <a href="{% url 'create_movie' %}">Create Movie</a>
{% endif %}

<hr>


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">

{% for movie in movies %}

<div class="col mb-4">

<div class="card" style="width: 18rem;">
  <img src="https://dummyimage.com/200x300/000/fff&text=NO+IMAGE">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

</div>

{% endfor %}

</div>

{% endblock %}