{% extends "base.html" %}

{% block content %}

<p><b>Name:</b> {{movie.name}}</p>
<p><b>Year:</b> {{movie.year}}</p>
<p>{{movie.genre}}</p>
<p>{{movie.duration}}</p>
<p>{{movie.description}}</p>
<p>{{movie.director}}</p>
<p>
{% for s in  movie.stars.all %}
    {{ s }},
{% endfor %}
</p>

<p>{{movie.language}}</p>

<hr>

{% if perms.viewer.change_movie %}
    <p><a href="{% url 'update_movie' movie.id %}">Update Movie</a></p>
{% endif %}

{% if perms.viewer.delete_movie %}
    <p><a href="{% url 'delete_movie' movie.id %}">Delete Movie</a></p>
{% endif %}



{% endblock %}